@keyframes change-color {
  0% {
    background-position: 0% 100%;
  }
  12.5% {
    background-position: 12.5% 87.5%;
  }
  25% {
    background-position: 25% 75%;
  }
  37.5% {
    background-position: 37.5% 62.5%;
  }
  50% {
    background-position: 50% 50%;
  }
  62.5% {
    background-position: 62.5% 37.5%;
  }
  75% {
    background-position: 75% 25%;
  }
  87.5% {
    background-position: 87.5% 12.5%;
  }
  0% {
    background-position: 100% 0%;
  }
}

.app {
  text-align: center;
  /*background-color: #3c524d;*/
  background: linear-gradient(45deg, #3c524d, #2e6357, #136b57, #2e7363, #365e55, #3c524d);
  background-size: 400% 400%;
  animation: change-color 60s ease-in-out;
}

.app-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vh;
}

.logo {
  height: 25vmin;
  pointer-events: none;
  scale: 0.7;
}

.form_group {
  padding: 10px;
}

.container2 {
  padding-top: 25vmin;
  scale: 1.2;
  max-height: 40vmin;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;
  font-family: 'Copperplate', 'serif';
  font-weight: bold;
  width: 100%;
}

.input-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.label {
  margin-right: 10px;
  font-size: calc(5px + 2vmin);
  font-family: 'Copperplate', 'serif';
  font-weight: bold;
}

.button-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  background-color: #ffffff;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Copperplate', 'serif';
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-button:active {
  background-color: #aabdb8;
}



